<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information</title>

    <link rel="stylesheet" href="/public/css/mypage.css" />
  </head>
  <body>
    <div>
      <h1><span><%= name %></span>님 마이페이지</h1>
      <img src="/<%= file %>" alt="프로필 사진" width="200" />
      <br />
      <span>아이디 : <%= id %></span>
      <br />
      <span>비밀번호 : <%= pw %></span>
      <br />
      <span>이름 : <%= name %></span>
      <br />
      <span>나이 : <%= age %></span>
    </div>
  </body>
</html>
